:root {
	--gris: #c0c0c0;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	color: var(--gris);
	font-family: "Open Sans", sans-serif;
	/* font-family: "PT Sans Narrow", sans-serif; */
	/* position: relative; */
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.top {
	background-color: var(--gris);
	color: black;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* position: sticky;
	top: 0;
	z-index: 100; */
	padding: 10px;
}

nav ul {
	display: flex;
	list-style-type: none;
}
nav ul li a {
	padding: 5px;
	color: var(--gris);
	text-decoration: none;
	border: 1px solid transparent;
	transition: ease 0.2s all;
	font-size: 12px;
	/* letter-spacing: 1px; */
}

nav ul li a:hover {
	border: 1px solid var(--gris);
}

.slider img {
	width: 100%;
}

.show-products {
	padding: 30px 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 40px;
	margin: 0 10px;
}

.logo {
	margin: 0 10px;
}
.cart {
	cursor: pointer;
	position: relative;
	margin: 0 10px;
}
.count-products {
	background-color: rgb(152, 36, 36);
	color: var(--gris);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/* display: inline-block; */
	display: none;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	position: absolute;
	bottom: 0px;
	left: 25px;
	font-weight: 600;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.article {
	border-radius: 5px 5px 0 0;
	border: 1px solid var(--gris);
	font-size: 12px;
	background-color: var(--gris);
	color: black;
}

.article p {
	padding: 2px 1px;
}
.article img {
	width: 100%;
	height: auto;
	border-radius: 5px 5px 0 0;
}

.article__category {
	font-size: 12px;
}
.article__price {
	font-weight: 700;
	font-size: 16px;
}

.btn-add {
	width: 100%;
	border: none;
	background-color: black;
	color: var(--gris);
	font-size: 11px;
	padding: 10px 5px;
	cursor: pointer;
	transition: ease 0.2s all;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-add svg {
	margin: 0 5px 2px 5px;
}

.btn-add:hover {
	color: white;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	height: 70px;
}

.show-added-product {
	position: fixed;
	bottom: 10px;
	left: 50%;
	/* transform: translateX(-50%); */
	/* display: none; */
	background-color: #015c01;
	padding: 15px 10px;
	border-radius: 5px;
	text-align: center;
	font-size: 13px;

	visibility: hidden;
	opacity: 0;
	transform: translateY(100%) translateX(-50%);
	transition: opacity 0.2s, transform 0.2s;

	box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
}

.visible {
	/* display: block; */
	visibility: visible;
	opacity: 1;
	transform: translateY(0) translateX(-50%);
}

/* ESTILOS DEL MODAL CARRITO*/
.modal-content {
	position: absolute;
	top: 44px;
	right: 34px;
	width: 600px;
	background-color: var(--gris);
	color: black;
	border-radius: 5px;
	font-size: 12px;
	/* border: 1px solid var(--gris); */
	display: none;

	box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px -1px 15px -3px rgba(0, 0, 0, 0.75);
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3px 7px;
	background-color: black;
	color: var(--gris);
	border: 1px solid var(--gris);
	border-radius: 5px 5px 0 0;
}

.modal-product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 7px;
	border-bottom: 1px solid rgb(171, 171, 171);
}

.modal-product:hover {
	background-color: #b5b5b5;
}

.modal-product img {
	width: 100%;
	max-width: 50px;
	border: 1px solid black;
}

.product-title {
	min-width: 180px;
}

.product-units {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-units p {
	padding: 0 8px;
}

.btn-close-modal {
	border: 1px solid black;
	color: var(--gris);
	background-color: transparent;
	cursor: pointer;
	padding: 4px 0px 0px 0px;
	transition: ease 0.3s all;
}

.btn-close-modal-empty {
	color: black;
	cursor: pointer;
	border: none;
	background-color: transparent;
	position: absolute;
	right: 5px;
	top: 2px;
	font-size: 16px;
}

.total-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 4px;
}

.substract,
.add {
	cursor: pointer;
	margin-top: 4px;
	transition: ease 0.3s all;
}

.substract:hover,
.add:hover,
.btn-close-modal:hover {
	transform: scale(1.1);
}

.delete-product {
	cursor: pointer;
}

.modal-button-buy {
	width: 100%;
	background-color: black;
	color: var(--gris);
	padding: 12px 2px;
	border: none;
	cursor: pointer;
	border: 1px solid var(--gris);
	border-radius: 0 0 5px 5px;
}

.modal-cart-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.modal-cart-empty p {
	font-weight: 500;
}

@media screen and (max-width: 650px) {
	/* .show-products {
		grid-template-columns: 2fr;
	} */
	.article__total {
		display: none;
	}

	.modal-content {
		right: 5px;
		width: 98% !important;
	}
	.product-title {
		min-width: 150px;
	}

	.product-units {
		flex-direction: column-reverse;
		justify-content: flex-start;
		background-color: black;
		color: var(--gris);
		border-radius: 10px;
	}
}

@media screen and (max-width: 400px) {
	.modal-product img {
		width: 100%;
		max-width: 50px;
		border: 1px solid black;
		display: none;
	}
}
